/*Colours:
Black: hsl(0, 100%, 0%)
Secondary Black: hsl(30, 5%, 7%)
Accent Gold: hsl(44, 46%, 53%)
*/

/* CSS RESET START */
html {
  box-sizing: border-box;
  font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
/* CSS RESET END */

body {
  background-color: #08090C;
  color: #F0F3F5;
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: #101218;
  height: 84px;
  padding: 10px 0px 10px 0;
  align-items: center;
}
#home {
  font-size: 2rem;
  font-weight: 700;
}
#main-logo {
  width: 200px;
  margin: 10px 0;
}

.flex {
  display: flex;
}

#coming-soon {
  text-align: center;
  font-size: 6rem;
  font-weight: 700;
}

#large-logo {
  max-width: 70vw;
  display: block;
  margin: 0 auto;
}
